<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>anthony</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>athen</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bthos</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>anthony</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kaka</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>lest</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>cocaco</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>cocain</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>question</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>blabla</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>something</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>theway</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mother</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>motherdfdf</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mothersdfdfd</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>motherv</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mother</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mother</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mother</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mother</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mother</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mother</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mother</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mother</string>
		<key>phone</key>
		<string>8889990009</string>
		<key>mail</key>
		<string>sdf@sdf.sdf</string>
	</dict>
</array>
</plist>
